{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">무엇이 궁금하신가요?</h5>
    <form method="post">
    <!-- <form method="post" action="{% url 'pybo:question_create' %}"> -->
        {% csrf_token %}
            <!-- 오류표시 Start -->
            {% if form.errors %}
            <!-- 데이터베이스 규칙위반시 -->
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <!-- 에러명 -->
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    <!-- 에러설명  -->
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류표시 End -->
            <div class="mb-3">
                <label for="subject" class="form-label">제목</label>
                <input type="text" class="form-control" name="subject" id="subject"
                        value="{{ form.subject.value | default_if_none:'' }}">
                        <!-- 한줄에 보이기위해 label과 input을 for과 id로 연결 -->
                        <!-- input의 name은 subject연결이름-->
                        <!-- subject 입력란에 내용르 입력하지 않으면 none이 들어가기때문에
                        none을 공백으로 바꿔준다.-->
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" name="content"
                            id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
                            <!-- value의 값? -->
            </div>
    
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}

<!--form 태그에 action 속성을 지정하지 않으면 
    호출한 대상한테 다시 보내준다.-->
<!-- 동일한 템플릿을 여러 기능에서 함께 사용할 경우에는 
    이처럼 form의 action 속성을 비워두는 트릭을 종종 사용한다.  -->

<!-- {{ form.as_p }} 는 forms.py 에 있는 걸 사용할수 있음?-->